---
layout: page
title: Categories
menu: Categories
---
<div class="col-md-8">
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">{{ page.title }}</li>
    </ol>
    {% for category in site.categories %}
    <div class="panel panel-default">
        <div class="panel-heading" id="{{ category[0] | slugify }}">{{ category[0] }}</div>
        <ul class="list-group">
            {% for post in category[1] %}
            <a class="list-group-item" href="{{ post.url }}">
                {{ post.title }}
                <div class="pull-right">
                    <span class="glyphicon glyphicon-time "> </span>
                    {{ post.date | date: "%Y-%m-%d" }}
                </div>
            </a>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
<div class="col-md-4">
    <h3> Categories Cloud</h3>
    {% for category in site.categories %}
    <a href="#{{ category[0] | slugify }}" class="post-tag">{{ category[0] }}</a>
    {% endfor %}
</div>