---
layout: default
menu: home
css: ['sidebar-popular-repo.css']
---
<section class="jumbotron" style="background: #4183c4;">
    <div class="container">
        <h2>{{ site.description }}</h2>

        <div id="jumbotron-meta-info">
            <span class="meta-info">
                <span class="glyphicon glyphicon-map-marker"></span>
                {{ site.location }}
            </span>
            <span class="meta-info hvr-grow">
                <span class="glyphicon glyphicon-user"></span>
                <a href="{{ site.company_url }}" target="_blank">{{ site.company }}</a>
            </span>
        </div>
    </div>
</section>
<section class="content container">
    <!-- Post List -->
    <div class="col-md-8">
        {% for post in site.posts | limit: 5 %}
        <li class="post-list-item">
            <div class="post-body">
                <h3 class="post-list-title">
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </h3>

                <p class="post-list-description">
                    {{ post.excerpt | strip_html | strip }}
                </p>
            </div>
            <p class="post-footer">
                <span class="glyphicon glyphicon-time"></span> {{ post.date | date: "%Y-%m-%d" }}&nbsp;
                Posted in <a href="/category/{{ post.category }}">{{ post.category }}</a>
                <a class="pull-right" href="{{ post.url }}">Read More</a>
            </p>
        </li>
        {% endfor %}
        <a href="/blog" class="col-xs-12"><h3 class="pull-right">Read More ...</h3></a>
    </div>
    <div class="col-md-4">
        {% include sidebar-popular-repo.html %}
    </div>
</section>
