---
layout: page
title: Tags
menu: Tags
---
<div class="col-md-8">
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">{{ page.title }}</li>
    </ol>
    {% for tag in site.tags %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading" id="{{ tag[0] | slugify }}">{{ tag[0] }}</div>
        <ul class="list-group">
            {% for post in tag[1] %}
            <a class="list-group-item" href="{{ post.url }}">
                {{ post.title }}
                <div class="pull-right hidden-xs">
                    <span class="glyphicon glyphicon-time"> </span>
                    {{ post.date | date: "%Y-%m-%d" }}
                </div>
            </a>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
<div class="col-md-4">
    <h3> Tag Cloud</h3>
    {% for tag in site.tags %}
    <a href="#{{ tag[0] | slugify }}">{{ tag[0] }}</a>
    {% endfor %}
</div>