---
layout: page
title: Open Source Projects
menu: Open-Source
---
<section class="container">
    <div class="row">
        {% if site.github && site.github.public_repositories %}
        {% assign sorted_repos = (site.github.public_repositories | sort: 'stargazers_count') | reverse | where: "fork",
        "false" %}
        <p class="col-md-12">
            <i class="fa fa-github fa-fw" aria-hidden="true"></i>
            I have <span class="badge">{{ sorted_repos.size }}</span> projects on Github</p>
        {% for repo in sorted_repos %}
        <div class="col-md-4 text-center">
            <div class="thumbnail thumbnail-card">
                <div class="card-img geopattern" data-pattern-id="{{ repo.name }}">
                    <a href="{{ repo.html_url }}" target="_blank"><h3>{{ repo.name }}</h3></a>
                </div>
                <div class="caption">
                    <p>{{ repo.description }}</p>

                    <p>
                            <span data-toggle="tooltip" title="{{ repo.stargazers_count }} stars">
                                <span class="fa fa-star fa-fw"></span> {{ repo.stargazers_count }}
                            </span>
                            <span data-toggle="tooltip" title="{{ repo.forks_count }} forks">
                                <span class="fa fa-code-fork fa-fw"></span> {{ repo.forks_count }}
                            </span>
                            <span data-toggle="tooltip" title="Last updated：{{ repo.updated_at }}">
                                <span class="fa fa-calendar fa-fw"></span>
                                <time datetime="{{ repo.updated_at }}" title="{{ repo.updated_at }}">{{ repo.updated_at
                                    | date: '%Y-%m-%d' }}
                                </time>
                            </span>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</section>