<div class="paper-title">
    <a href="{{ site.github_url }}/{{ page.github }}">
        <i class="fa fa-code-fork fa-fw" aria-hidden="true"></i>Fork On Github
    </a>
</div>
<section id="directory-module" class="directory-module hidden-xs">
    <div class="paper-title">
        <i class="fa fa-bars fa-fw" aria-hidden="true"></i> Directory
    </div>
    <dl>
    </dl>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        var directory = $("#directory-module"), scrolltop = directory.offset().top;
        var targets = $("#github-main").find(".paper-title");
        targets.each(function (index) {
            directory.find("dl").append('<dt data-loc="' + index +
                    '">' + $(this).text().replace(/\:/, "") + '</dt>'
            );
        });
        $(window).scroll(function () {
            var currentScroll = $(window).scrollTop();
            if (currentScroll >= scrolltop - 72 ) {
                directory.css({
                    top: 72,
                    position: 'fixed'
                });
            } else {
                directory.css({
                    top: 0,
                    position: 'inherit'
                });
            }
        });
        directory.find("dt").on("click", function (e) {
            e.preventDefault();
            $("body").animate({
                scrollTop: targets.eq($(this).attr('data-loc')).offset().top - 72
            }, 500);
        });
    })
    ;
</script>