<head>
    <title>{{ page.title }} | 汀汀涔涔</title>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="keywords" content="{{ page.tags }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content="{{ page.description }}">
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <link rel="shortcut icon" href="http://imwr.github.io/resources/favicon.ico">
    <link rel="bookmark" href="http://imwr.github.io/resources/favicon.ico">

    <link rel="stylesheet" type="text/css" href="http://imwr.github.io/resources/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="http://imwr.github.io/resources/css/github-example.css">
    <link type="text/css" rel="stylesheet" href="http://imwr.github.io/resources/syntax/shCoreDefault.css"/>
    <script type="text/javascript" src="http://imwr.github.io/resources/js/jquery-1.11.3.min.js"></script>
</head>
