<nav role="navigation" id="navbar-default" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="{{ site.url }}" title="{{ site.name }}" class="navbar-brand">
                TT-CC
            </a>
            <label for="navbar-collapse-btn" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </label>
        </div>
        <input type="checkbox" id="navbar-collapse-btn" class="navbar-collapse-btn hidden"/>
        <div id="navbarCollapse" class="navbar-collapse">
            {% if page.menu != 'search' %}
            <form role="search" action="/search" class="navbar-form navbar-right">
                <input type="text" id="search-input" placeholder="Search" name="query"
                       class="form-control search-query">
                <label for="search-input" class="fa fa-search search-query-icon hidden" aria-hidden="true"></label>
            </form>
            {% endif %}
            <ul class="nav navbar-nav navbar-right">
                {% for nav in site.navs %}
                <li class="{% if page.menu == nav.label %} active {% endif %}{% if nav.sub %}dropdown open{% endif %}">
                    {% if nav.sub %}
                    <a href="{{ nav.href }}"
                       class="dropdown-toggle tc-underline-from-center" role="button" aria-haspopup="false" aria-expanded="false"
                       target="{{ nav.target | default: _self }}" title="{{ nav.label }}">
                        {{ nav.label }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for subnav in nav.sub %}
                        <li><a href="{{ subnav.href }}">{{ subnav.label }}</a></li>
                        {% unless forloop.last %}
                        <li role="separator" class="divider"></li>
                        {% endunless %}
                        {% endfor %}
                    </ul>
                    {% else %}
                    <a href="{{ nav.href }}" class="tc-underline-from-center"
                       target="{{ nav.target | default: _self }}" title="{{ nav.label }}">
                        {{ nav.label }}
                    </a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>