<div class="paper-title">
    <i class="fa fa-github fa-fw" aria-hidden="true"></i> My Projects
</div>
{% if site.github && site.github.public_repositories %}
{% assign sorted_repos = (site.github.public_repositories | sort: 'stargazers_count') | reverse | where: "fork", "false" %}
{% for repo in sorted_repos | limit: site.side_bar_repo_limit %}
<div class="text-center">
    <div class="thumbnail thumbnail-card">
        <div class="card-img gradient-pattern{{forloop.index| minus:1}}" data-pattern-id="{{ repo.name }}">
            <a href="{{ repo.html_url }}" target="_blank"><h3>{{ repo.name }}</h3></a>
        </div>
        <div class="card-body">{{ repo.description }}</div>
        <p>
                <span class="tc-toolltip" data-toggle="tooltip" title="{{ repo.stargazers_count }} stars">
                    <i class="fa fa-star fa-fw"></i> {{ repo.stargazers_count }}
                    <span class="tooltip-t">{{ repo.stargazers_count }} stars</span>
                </span>
                <span class="tc-toolltip" data-toggle="tooltip" title="{{ repo.forks_count }} forks">
                    <span class="fa fa-code-fork fa-fw"></span> {{ repo.forks_count }}
                    <span class="tooltip-t">{{ repo.forks_count }} forks</span>
                </span>
                <span class="tc-toolltip" data-toggle="tooltip" title="Last updated：{{ repo.updated_at }}">
                    <span class="fa fa-calendar fa-fw"></span>
                    <time datetime="{{ repo.updated_at }}" title="{{ repo.updated_at }}">{{ repo.updated_at
                                    | date: '%Y-%m-%d' }}
                    </time>
                    <span class="tooltip-t">Last updated：{{ repo.updated_at }}</span>
                </span>
        </p>
    </div>
</div>
{% endfor %}
{% endif %}