---
layout: page
title: About Me
menu: About
---
<div class="col-md-8">
    <div class="paper-title">Contact</div>
    <ul class="list-inline">
        <li>
            <a href="mailto:{{ site.email }}" target="_top"><i class="fa fa-envelope fa-fw"></i>&nbsp;Email
            </a>
        </li>
        <li>
            <a href="mailto:{{ site.email }}" target="_top"><i class="fa fa-github fa-fw"></i>&nbsp;Github
            </a>
        </li>
        <li>
            <a href="mailto:{{ site.email }}" target="_top"><i class="fa fa-weibo fa-fw"></i>&nbsp;Weibo
            </a>
        </li>
    </ul>
    <h2>Skill Keywords</h2>
    {% if site.skill_software_keywords %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Software Engineer Keywords</h3>
        </div>
        <div class="panel-body btn-label">
            {% for keyword in site.skill_software_keywords %}
            <button class="btn btn-default" type="button">{{ keyword }}</button>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% if site.skill_j2ee_keywords %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">J2EE Developer Keywords</h3>
        </div>
        <div class="panel-body btn-label">
            {% for keyword in site.skill_j2ee_keywords %}
            <button class="btn btn-default" type="button">{{ keyword }}</button>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% if site.skill_mobile_app_keywords %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Mobile Developer Keywords</h3>
        </div>
        <div class="panel-body btn-label">
            {% for keyword in site.skill_mobile_app_keywords %}
            <button class="btn btn-default" type="button">{{ keyword }}</button>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% if site.skill_web_keywords %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Web Developer Keywords</h3>
        </div>
        <div class="panel-body btn-label">
            {% for keyword in site.skill_web_keywords %}
            <button class="btn btn-default" type="button">{{ keyword }}</button>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
<div class="col-md-4">
    {% include sidebar-popular-repo.html %}
</div>
