/** Header **/
.site-header {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    position: fixed;
    margin: 40px 0 30px 0;
    top: 0;
    left: 0 !important;
    right: 0;
    z-index: 103;
    color: #000;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.site-header #site-header-brand {
    color: #2e2e2e;
    float: left;
}

.site-header a {
    text-decoration: none;
}

.site-header a:hover {
    color: #4183c4;
}

.site-header-nav {
    float: right;
    margin-bottom: -20px;
}

.site-header-nav-item {
    color: #000;
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
    font-size: 20px;
}

.site-header-nav-item.selected {
    color: #4183c4;
}

.site-header-nav-item.selected:before {
    left: 0;
    right: 0;
}

.site-header-search {
    float: right;
    padding: 8px 14px 8px 56px;
    position: relative;
}

.site-header-search .search-query {
    width: 0;
    opacity: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.site-header-search .glyphicon-search {
    position: absolute;
    right: 24px;
    top: 18px;
}

.site-header-search .search-results {
    width: 0;
    opacity: 0;
    z-index: -1;
    position: absolute;
    right: 14px;
    top: 38px;
    line-height: 30px;
    background: white;
    border: 1px solid #ddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    padding: 0 10px;
}

.site-header-search .search-query:focus {
    width: 250px;
    opacity: 1;
}

.site-header-search .search-query:focus ~ .search-results{
    width: 250px;
    opacity: 1;
}

.search-results a:first-child {
    margin-top: 8px;
}

.search-results a {
    display: block;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/******* Scroll Start *******/
.site-header {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.site-header.site-header-nav-scrolled {
    margin: 0;
    background-color: white;
    -webkit-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
}

/******* Scroll End *******/

/** Jumbotron **/
.jumbotron {
    padding-top: 200px;
    padding-bottom: 80px;
    color: #fff;
}

.jumbotron a {
    color: #fff;
    text-decoration: none;
}

.jumbotron #jumbotron-meta-info {
    margin-top: 20px;;
}

.jumbotron .meta-info {
    font-size: 20px;
    margin-right: 15px
}

.jumbotron.meta-info, .jumbotron .meta-info .octicon {
    font-size: 18px;
}

/** Footer **/
.site-footer {
    position: relative;
    margin-top: 40px;
    padding: 40px 0;
    font-size: 12px;
    line-height: 1.5;
    color: #777;
    border-top: 2px solid #eee
}

.site-footer .octicon-mark-github {
    position: absolute;
    left: 50%;
    color: #ccc;
}

.site-footer .octicon-mark-github:hover {
    color: #bbb;
}

/** Post List **/
.post-list-item {
    position: relative;
    list-style: none;
    border: 1px solid #eee;
    margin-bottom: 15px !important;
    line-height: 1.5;
}

.post-list-item .post-list-title {
    text-decoration: none;
    margin-top: 0 !important;
}

.post-list-item .post-list-description {
    margin-bottom: 0;
    font-size: 16px;
    color: #666;
}

.post-list-item .post-body {
    padding: 10px;
}

.post-list-item .post-footer {
    margin-bottom: 0;
    color: #888;
    padding: 10px;
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    font-size: 14px;
}

.geopattern {
    background-size: contain; /* To fix strange behavior when zoom in/out */
}

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:hover:before {
    left: 0;
    right: 0;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #2098d1;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}