body {
    background: white;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

/* modify bootstrap default style start */
.navbar-default {
    font-size: 18px;
    padding: 6px 0 12px 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    top: 20px;
}

.navbar-default .navbar-brand {
    font-size: 24px;
    line-height: 28px;
}

.navbar-nav > li.active .hvr-underline-from-center:before {
    left: 0;
    right: 0;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background: none;
}

.navbar-form {
    border: none;
    position: relative;
}

@media screen and (min-width: 768px) {
    .navbar-form {
        padding: 0 0 0 20px;
        min-width: 48px;
    }

    .navbar-form .search-query {
        width: 0;
        opacity: 0;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }

    .navbar-form .search-query:focus {
        width: 196px;
        opacity: 1;
    }

    .navbar-form .search-query-icon {
        position: absolute;
        display: block !important;
        right: 16px;
        cursor: pointer;
        top: 8px;
    }
}

.panel a {
    text-decoration: none;
}

.panel .panel-top {
    padding-left: 15px;
    font-size: 18px;
    padding-top: 15px;
}

.jumbotron {
    padding-top: 120px;
    padding-bottom: 40px;
    color: #fff;
}

.jumbotron a {
    color: white;
    text-decoration: underline;
}

.btn-label .btn {
    margin-bottom: 4px;
}

.thumbnail-card {
    padding: 0;
}

.thumbnail-card .card-img {
    padding: 15px 0 20px 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
	background: #337ab7;
}

.thumbnail-card .caption {
    height: 88px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.thumbnail-card a {
    color: white;
}

.paper-title {
    width: 100%;
    position: relative;
    overflow: hidden;
    font-size: 24px;
    padding-bottom: 12px;
    text-shadow: 1px 1px #efefef, 2px 1px #ddd;
    font-weight: 500;
}

/* modify bootstrap default style end*/

/*.geopattern {*/
/*background-size: contain;*/
/*}*/

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:hover:before {
    left: 0;
    right: 0;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #2098d1;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}