body {
    background: white;
    overflow-x: hidden;
}

header {
    padding: 0;
    font-family: inherit;
    border-bottom: none;
}

.site-header {
    padding-top: 10px;
    width: 100%;
    position: fixed;
    margin-top: 20px;
    top: 0;
    background: white;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 10;
}

/* modify bootstrap default style start */
.navbar-default {
    background: none;
    border: none;
    font-size: 18px;
    margin-bottom: 10px;
}

.navbar-nav > li.active .hvr-underline-from-center:before {
    left: 0;
    right: 0;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background: white;
}

.navbar-brand {
    padding: 0;
}

.navbar-form {
    border: none;
}

@media screen and (min-width: 768px) {
    .navbar-form {
        padding: 0 0 0 20px;
        min-width: 48px;
    }

    .navbar-form .search-query {
        width: 0;
        opacity: 0;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }

    .navbar-form .search-query:focus {
        width: 196px;
        opacity: 1;
    }

    .navbar-form .search-query-icon {
        position: absolute;
        right: 8px;
        cursor: pointer;
        top: 16px;
        display: block !important;
    }
}

.site-header {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.site-header.site-header-nav-scrolled {
    margin: 0;
    background-color: white;
    -webkit-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
}

.panel a {
    text-decoration: none;
}

.panel .panel-top {
    padding-left: 15px;
    font-size: 18px;
    padding-top: 15px;
}

.jumbotron {
    padding-top: 120px;
    padding-bottom: 40px;
    color: #fff;
}

.jumbotron a {
    color: wheat;
}

/* modify bootstrap default style end*/

.geopattern {
    background-size: contain;
}

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:hover:before {
    left: 0;
    right: 0;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #2098d1;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.main-inner {
    width: 100%;
    margin: 0;
    border: none;
}