---
layout: page
title: All My Posts
menu: Blog
redirect_from:
- /front-end
- /back-end
---
<div class="col-md-8">
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">{{ page.title }}</li>
    </ol>
    {% for post in paginator.posts %}
    <div class="panel panel-default">
        <div class="panel-top">
            <a href="{{ post.url }}">
                <i class="fa fa-hand-o-right fa-fw" aria-hidden="true"></i>
                {{ post.title }}
            </a>
        </div>
        <div class="panel-body">
            {{ post.excerpt | strip_html | strip }}
        </div>
        <div class="panel-footer">
                    <span class="hidden-xs">
                        <span class="fa fa-calendar"></span> {{ post.date | date: "%Y-%m-%d" }}&nbsp;
                    </span>
            Posted in <a href="/category/{{ post.category }}">{{ post.category }}</a>
            <a class="pull-right" href="{{ post.url }}">Read More</a>
        </div>
    </div>
    {% endfor %}
    <!-- Pagination -->
    {% include pagination.html %}
</div>
<div class="col-md-4">
    {% include sidebar-post-category.html %}
    {% include sidebar-post-tag.html %}
</div>
