---
layout: page
title: All My Blogs
subtitle: <span class="mega-octicon octicon-clippy"></span>&nbsp;&nbsp; Take notes about everything new
menu: Blog
---
<!-- Post List -->
<div class="col-md-8">
    {% for post in paginator.posts %}
    <li class="post-list-item">
        <div class="post-body">
            <h3 class="post-list-title">
                <a href="{{ post.url }}">{{ post.title }}</a>
            </h3>

            <p class="post-list-description">
                {{ post.excerpt | strip_html | strip }}
            </p>
        </div>
        <p class="post-footer">
            <span class="glyphicon glyphicon-time"></span> {{ post.date | date: "%Y-%m-%d" }}&nbsp;
            Posted in <a href="/category/{{ post.category }}">{{ post.category }}</a>
            <a class="pull-right" href="{{ post.url }}">Read More</a>
        </p>
    </li>
    {% endfor %}
    <!-- Pagination -->
    {% include pagination.html %}
</div>
<div class="col-md-4">
    {% include sidebar-post-category.html %}
    {% include sidebar-post-tag.html %}
</div>
