---
layout: page
menu: Blog
---
<div class="col-md-8">
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/categories">categories</a></li>
        <li class="active">{{ page.title }}</li>
    </ol>
    {% if site.categories[page.slug] %}
    {% for post in site.categories[page.slug] %}
    {% capture post_year %}{{ post.date | date: '%Y' }}{% endcapture %}
    {% if forloop.first %}
    <h3>{{ post_year }}</h3>

    <div class="list-group">
        {% endif %}
        {% unless forloop.first %}
        {% assign previous_index = forloop.index0 | minus: 1 %}
        {% capture previous_post_year %}{{ site.categories[page.slug][previous_index].date | date: '%Y' }}{% endcapture
        %}
        {% if post_year != previous_post_year %}
    </div>
    <h3>{{ post_year }}</h3>

    <div class="list-group">
        {% endif %}
        {% endunless %}
        <a href="{{ post.url }}" class="list-group-item">
            <i class="fa fa-hand-o-right fa-fw" aria-hidden="true"></i> {{ post.title }}
            <div class="pull-right hidden-xs">
                <span class="fa fa-calendar fa-fw"> </span>
                {{ post.date | date: "%Y-%m-%d" }}
            </div>
        </a>
        {% if forloop.last %}
    </div>
    {% endif %}
    {% endfor %}
    {% else %}
    <p><i class="fa fa-meh-o fa-fw" aria-hidden="true"></i> There are no posts in this category.</p>
    {% endif %}
</div>
<div class="col-md-4">
    <div class="btn-label">
        <div class="paper-title">Categories Cloud</div>
        {% for category in site.my_categories %}
        <a href="/categories/{{category.slug}}" class="btn btn-default">{{ category.slug
            }}({{site.categories[category.slug].size|default:0}})</a>
        {% endfor %}
    </div>
</div>