---
layout: default
menu: Blog
---
{% include jumbotron-post.html %}
<article class="container">
    <div class="row">
        <div class="col-md-8 markdown-body">

            {{ content }}

            {% if site.related_posts.size >= 1 %}
            <hr/>
            <div>
                <h3>Related Posts</h3>
                <ul class="fa-ul">
                    {% for related_post in site.related_posts limit: 5 %}
                    <li><i class="fa-li fa fa-hand-o-right"></i> <a href="{{ related_post.url }}">{{ related_post.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% if page.categories %}
            {% assign category = page.categories[0] %}
            {% assign posts = site.categories[category] %}
            {% for post in posts %}
            {% if post.url == page.url %}
            {% assign post_index0 = forloop.index0 %}
            {% assign post_index1 = forloop.index %}
            {% endif %}
            {% endfor %}
            {% for post in posts %}
            {% if post_index0 == forloop.index %}
            {% assign next_post = post %}
            {% endif %}
            {% if post_index1 == forloop.index0 %}
            {% assign prev_post = post %}
            {% endif %}
            {% endfor %}
            {% endif %}

            <nav>
                <ul class="pager">
                    {% if prev_post %}
                    <li class="previous">
                        <a href="{{ prev_post.url }}">
                            <span aria-hidden="true">&larr;</span> Previous
                        </a>
                    </li>
                    {% else %}
                    <li class="previous disabled">
                        <a href="javascript:void(0)">
                            <span aria-hidden="true">&larr;</span> Previous
                        </a>
                    </li>
                    {% endif %}
                    {% if next_post %}
                    <li class="next">
                        <a href="{{ next_post.url }}">Next
                            <span aria-hidden="true">&rarr;</span>
                        </a>
                    </li>
                    {% else %}
                    <li class="next disabled">
                        <a href="javascript:void(0)">Next
                            <span aria-hidden="true">&rarr;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            <hr/>
            {% unless site.easydebug %}
            {% include disqus-comments.html %}
            {% endunless %}
        </div>

        <div class="col-md-4">
            {% if page.github  %}
            <div class="paper-title">
                <a href="{{ site.github_url }}/{{ page.github }}">
                    <i class="fa fa-code-fork fa-fw" aria-hidden="true"></i>Fork On Github
                </a>
            </div>
            {% endif %}
            {% include sidebar-post-tag.html %}
        </div>
    </div>
</article>
