---
layout: page
menu: Tags
---
<div class="col-md-8">
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/tags">tags</a></li>
        <li class="active">{{ page.title }}</li>
    </ol>
    {% if site.tags[page.slug] %}
    {% for post in site.tags[page.slug] %}
    {% capture post_year %}{{ post.date | date: '%Y' }}{% endcapture %}
    {% if forloop.first %}
    <h3>{{ post_year }}</h3>

    <div class="list-group">
        {% endif %}
        {% unless forloop.first %}
        {% assign previous_index = forloop.index0 | minus: 1 %}
        {% capture previous_post_year %}{{ site.tags[page.slug][previous_index].date | date: '%Y' }}{% endcapture %}
        {% if post_year != previous_post_year %}
    </div>
    <h3>{{ post_year }}</h3>

    <div class="list-group">
        {% endif %}
        {% endunless %}
        <a href="{{ post.url }}" class="list-group-item">
            {{ post.title }}
            <div class="pull-right hidden-xs">
                <span class="glyphicon glyphicon-time "> </span>
                {{ post.date | date: "%Y-%m-%d" }}
            </div>
        </a>
        {% if forloop.last %}
    </div>
    {% endif %}
    {% endfor %}
    {% else %}
    <p>There are no posts in this tag.</p>
    {% endif %}
</div>
<div class="col-md-4">
    <div class="btn-label">
        <h3> Tag Cloud</h3>
        {% for tag in site.my_tags %}
        {% assign words = ['JavaScript', 'CSS', 'HTML'] %}
        <a href="/tag/{{tag.slug}}" class="btn btn-default">{{ tag.slug }}</a>
        {% endfor %}
    </div>
</div>